{% extends 'base.html.twig' %}

{% block body %}

    {% if user is defined %}
    <h1>User profile</h1>
    <ul>
        <li><strong>id:</strong> {{user.userId}}</li>
        <li><strong>username:</strong> {{user.username}}</li>
        <li><strong>email:</strong> {{user.email}}</li>
    </ul>
    {% else %}
        <h1>Error!</h1>
        <h3>{{ error_msg }}</h3>
    {% endif %}
    <br><br>
    <a href="{{ path('nil_portugues_my_bounded_context_homepage') }}">Back to homepage</a>
{% endblock %}
