{% extends 'base.html.twig' %}

{% block body %}
    <h1>User profile</h1>
    {% if user is defined %}
    <ul>
        <li>id: {{user.userId}}</li>
        <li>username: {{user.username}}</li>
        <li>email: {{user.email}}</li>
    </ul>
    {% else %}
        <h2>{{ error_msg }}</h2>
    {% endif %}
    <br><br>
    <a href="{{ path('app_my_bounded_context_homepage') }}">Back to homepage</a>
{% endblock %}
